---
import experiences from '../../constants/experiences.ts';
import Content from './ExpereinceDetails/Content.astro';
import Technologies from './ExpereinceDetails/Technologies.astro';
import Achievements from './ExpereinceDetails/Achievements.astro';
---

<ul class="space-y-6 p-6">
  {
    experiences.map((exp, index) => (
      <li
        class="border-border-300 border-b pb-6 last:border-b-0 last:pb-0"
        tabindex="0"
      >
        <div class="mb-4 flex flex-col gap-4 sm:flex-row">
          <div class="border-border-900 mt-2 h-11 w-11 rounded-full border bg-white shadow-xs">
            <img
              src={exp.logo || '/placeholder.svg'}
              alt={`${exp.company} logo`}
              class="h-full w-full object-contain"
            />
          </div>
          <div class="flex-1">
            <Content
              company={exp.company}
              position={exp.position}
              period={exp.period}
              description={exp.description}
            />

            {exp.technologies && exp.technologies.length > 0 && (
              <Technologies technologies={exp.technologies} />
            )}

            {exp.achievements && exp.achievements.length > 0 && (
              <Achievements achievements={exp.achievements} />
            )}
          </div>
        </div>
      </li>
    ))
  }
</ul>
