---
import { VARIANT_CLASSES, SIZE_CLASSES, DEFAULT_ICON } from './constants';

interface Props {
  ariaLabel: string;
  variant?: 'info' | 'primary' | 'secondary';
  size?: 'sm' | 'md' | 'lg';
  icon?: string;
  modalId?: string;
}

const {
  ariaLabel,
  variant = 'accent',
  size = 'md',
  icon,
  modalId,
} = Astro.props;

const triggerId = `${modalId}-trigger`;

const baseClasess = `group flex  items-center justify-center border rounded-full transition-colors duration-200 ${VARIANT_CLASSES[variant]} ${SIZE_CLASSES[size]}`;
---

<button
  class={`dialog-trigger cursor-pointer ${baseClasess}`}
  aria-label={ariaLabel}
  id={triggerId}
  data-modal-id={modalId}
  data-trigger-id={triggerId}
>
  <slot>
    <span set:html={icon || DEFAULT_ICON(size)} />
  </slot>
</button>

<script define:vars={{ triggerId }} defer>
  document.addEventListener('DOMContentLoaded', () => {
    const trigger = document.getElementById(triggerId);
    if (trigger) {
      const modalId = trigger.getAttribute('data-modal-id');
      const modal = document.getElementById(modalId);

      trigger.addEventListener('click', () => {
        if (modal) {
          const showModal = window[`show${modalId}`];
          showModal();
        }
      });
    }
  });
</script>
