---
export interface Props {
  modalId: string;
  maxWidth?: string;
}

const { modalId, maxWidth = 'max-w-2xl' } = Astro.props;
---

<!-- Modal Dialog -->
<div
  class="bg-base/50 pointer-events-none fixed inset-0 -z-10 flex items-center justify-center p-4 opacity-0 backdrop-blur-sm"
  id={modalId}
  data-modal={modalId}
>
  <div
    class={`max-h-[80vh] w-full ${maxWidth} overflow-y-auto scrollbar-rounded-xl rounded-xl border border-border-900 bg-surface-700`}
    id={`${modalId}-dialog`}
  >
    <!-- Modal Header -->
    <div class="flex items-center justify-between p-6">
      <button
        class="text-text-600 bg-surface-900 border-border-900 hover:border-border-300 hover:bg-surface-700 flex h-8 w-8 cursor-pointer items-center justify-center rounded-md border text-xs font-semibold transition-colors duration-200"
        aria-label="Close modal"
        id={`${modalId}-close-btn`}
        data-modal-close
      >
        ESC
      </button>
    </div>

    <!-- Modal Content -->
    <div class="space-y-6 px-3 opacity-100" id={`${modalId}-content`}>
      <slot />
    </div>
  </div>
</div>

<script src="./dialogHandler.ts"></script>
