---
import icons from '../constants/skillsIcons.ts';
import IconTooltip from '@/components/ui/misc/IconTooltip.astro';
---

<section
  class="flex flex-col items-center gap-6 md:flex-row"
  role="region"
  tabindex="0"
  aria-labelledby="technologies-heading"
>
  <div class="flex-1">
    <h2
      id="technologies-heading"
      class="heading-2 text-inverse mb-6"
      aria-hidden="true"
    >
      Technologies I've worked with
    </h2>

    <div class="mb-6">
      <ul
        class="flex flex-wrap gap-4"
        aria-label="Frontend technologies and frameworks"
      >
        {
          Object.entries(icons.frontend).map(([name, svg]) => (
            <li class="flex">
              <IconTooltip
                svg={svg}
                label={name}
                size="sm"
                class="group focus:ring-accent-500 relative flex h-10 w-10 rounded-lg bg-white shadow-sm hover:-translate-y-0.5 hover:shadow-md focus:ring-2 focus:ring-offset-2 focus:outline-none"
                aria-label={`${name} technology icon`}
                role="img"
              />
            </li>
          ))
        }
      </ul>
    </div>

    <div class="mb-6">
      <ul
        class="flex flex-wrap gap-4"
        aria-label="Development tools and software"
      >
        {
          Object.entries(icons.tools).map(([name, svg]) => (
            <li>
              <IconTooltip
                svg={svg}
                label={name}
                size="sm"
                class="group focus:ring-accent-500 relative flex h-10 w-10 rounded-lg bg-white shadow-sm hover:-translate-y-0.5 hover:shadow-md focus:ring-2 focus:ring-offset-2 focus:outline-none"
                tabindex="0"
                aria-label={`${name} tool icon`}
                role="img"
              />
            </li>
          ))
        }
      </ul>
    </div>

    <aside class="text-text-600 text-sm" role="complementary">
      <p>
        <strong class="text-accent-800 mr-1 font-bold"> P.S: </strong>

        I'm not limited by any specific tech-stack and always open to exploring
        new technologies that better serve business requirements and
        constraints.
      </p>
    </aside>
  </div>
</section>
